@CHARSET "UTF-8";
/** Changes from cake.generic.css **/


/** General Style Info **/
h2 {
	font-size: 160%;
	font-weight: bold;
}
h3 {
	font-size: 125%;
}

/** Layout **/
#menu {
	clear: both;
}


/** Tables **/
table {
	border-spacing:0;
}
table td.actions button {
	margin: 0px 6px;
	padding:2px 5px;
}


/** Forms **/
fieldset legend {
	font-size: 160%;
	font-weight: bold;
}
input, textarea {
	font-size: 100%;
}

/** Person edit form **/
.people form div {
	margin-bottom: 0;
}


