@CHARSET "UTF-8";
/** Changes from cake.generic.css **/


/** General Style Info **/
h2 {
	font-size: 160%;
	font-weight: bold;
}
h3 {
	font-size: 125%;
}
.nodecoration {
	text-decoration: none;
}

/** Layout **/
#menu {
	clear: both;
}


/** Tables **/
table {
	border-spacing:0;
}
table td.actions button {
	margin: 0px 6px;
	padding:2px 5px;
}


/** Forms **/
fieldset legend {
	font-size: 160%;
	font-weight: bold;
}
input, textarea {
	font-size: 100%;
}

/** Person edit form **/
.people form div {
	margin-bottom: 0;
}

/** Images **/
img.logo {
	height: 125px;
	width: 125px;
	float: right;
}

/** Reference letters **/
.letterhead, .letterfooter {
	text-align:center;
}
.letterhead, .letterbody {
	padding-right:20px;
}
.reference {
	padding-left:20px;
}
div.divider {
	width: 80%;
	border:1px dashed #ddd;
	margin-left:10%;
	margin-right:10%;
	margin-top:0;
	margin-bottom:20px;
	
}
div.pagebreak {
	page-break-after:always;
}
div.letterbody {
	margin-top:100px;
}
div.reference table {
	border-spacing: 0 5px;
	margin-top: 10px;
}
div.reference table td {
	width:50%;
	background: #fff;
	border: 0;
}
div.reference table td.rightcol {
	width:50%;
/**	height: 20px; **/
	border: 1px solid #ddd;
}


/** Application forms **/
div#applicationform {
	#width: 100%;
	margin: 0;
	font-size: 0.75em;
	font-family: sans-serif;
}
div#applicationform h3 {
	margin: 0;
	font-size: 1.17em;
	font-weight: bold;
}
div#returnaddress {
	margin: 5px;
}
div#applicationform table, 
div#applicationform tr,
div#applicationform td {
	border: 0;
	border-spacing: 5px;
	vertical-align: top;
	padding: 0;
}
div#applicationform table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* remove the alternating row colour */
div#applicationform table tr:nth-child(even) {
	background: #ffffff;
}
div#applicationform table.colapseborder {
	border-collapse:collapse;
}
div#applicationform table#officeuse {
	width: 200px;
	margin-right: 0;
}
div#applicationform td.half {
	width: 50%;
}
div#applicationform td.quarter {
	width: 25%;
}
div#applicationform td.twothirds {
	width: 67%;
}
div#applicationform td.onethird {
	width: 33%;
}
div#applicationform .border {
	border: 1px solid;
} 
div#applicationform .noborder {
	border: 0;
} 
div#applicationform .rubric {
	font-size: 0.7em;
}
div#applicationform .centre {
	text-align: center;
}
div#applicationform .indent {
	margin-left: 20px;
}
div#applicationform .bold {
	font-weight:bold;
}