/* BASE STYLES */
body {
    font-family: Georgia,serif;
    background: none;
}

/* MISC STYLES */
.clear {
    clear: both;
}

/* FORM ELEMENTS */
form .submit input[type="submit"] {
    cursor: pointer;
}

/* LAYOUT */
#header {
    background: #455088;
}
#logo {
    float: left;
}
#header h1 {
    float: right;
    font-size: 2em;
    background: none;
    margin-top: 20px;
    padding-bottom: 6px;
}
#header h1 a {
    background: none;
}
#header h1 a:hover {
    background: none;
}
#nav {
    float: right;
    clear: right;
    margin-right: 30px;
    position: relative;
    z-index: 10;
}